<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
<header>
    <h3>hello {{ title }}</h3>
</header>
</body>
</html>
